BOT_TOKEN=
OWNER_IDS=
TEST_SERVERS=
PREFIX=!
OPENAI_API_KEY=
TENOR_API_KEY=
MONGODB_URI=
WAITING_EMOJI=
BOT_URL= # Must be a namelessmc instance
REDIS_URL=
DEBUG_LOG=
MC_SERVER_IP=
MC_SERVER_PORT= # Optional, defaults to 25565
MC_SERVER_URL=  # Url to link at the bottom, Optional, defaults to nothing
NAMELESS_API_KEY=
IMGUR_CLIENT_ID=
IMGUR_CLIENT_SECRET=
DEFAULT_TIMEZONE=Europe/London
